/* 

	style.css
	
	Colours used
	============
	
	Black:			 #000000
	Dark Gray:	 #333333
	White:       #fff
	Light Gray:	 #eeeeee
	Orange:			 #ff9b51

*/


/* ---------------------------
	General Styles
   --------------------------- */


         

html {
	-webkit-font-smoothing: antialiased; /*Creates a slightly smoother font*/
	text-rendering: optimizelegibility;
}

body {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #444444;
	font-style: normal;
}

   
/* ---------------------------
	Typography
   --------------------------- */
   
h1, h2, h3 {
	font-weight: 300;
	margin: 0;
	line-height: 45px;
}

h4, h5, h6 {
	font-weight: bold;
	margin: 5px 0 5px 0;
}

h1 {
	font-size: 41px;
}

h2 {
	font-size: 24px;
	text-align: center;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 18px;
	margin: 10px 0;
}

h5 {
	font-size: 13px;
	margin: 0;
	text-transform: uppercase;
}

p {
	margin: 0 0 10px 0;
	font-style: normal;
}
 

   
   
/* ---------------------------
	Layout
   --------------------------- */
.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

header {
	background: #000;
}

#logo {
	display: block;
	padding: 17px 0 16px 5px;
	float: left;
}

#hero {
	background: url(../img/hero_bg.gif) no-repeat center center fixed;
	color: #fff;
}

#hero-title {
	width: 600px;
  padding: 60px 0;
  float: left;
  margin-left: -78px;
}

#hero-title p {
	width: 444px;
}

#call-to-action {
	margin: 40px 0;
}
#call-to-action-tab {
   margin: -36px -83px;
}

#hero-image {
	float: ;
	margin: 10px 0 -30px 0;
	padding: 0 0 50px 0;
}


#hero-image2 {
	float: right;
	margin: 10px 0 -30px 0;
}

#lead-in {
	margin-bottom: 30px;
}

#content {
	width: 100%;
	padding: 204px 0px 204px 0px;
	background-color: #f5f5f5;
}

#content2 {
	width: 100%;
	padding: 204px 0px 204px 0px;
	background-color: #fff;
}

#column-content {
	width: 700px;
	float: left;
	margin-left: 300px;
}

#column-contact {
	width: 700px;
	float: left;
	margin-left: 131px;
  margin-top: 100px;
}

#body-img {
	width: 160px; 
	color: #fff;
	float: left;
	margin-left: 20px;
	padding: 30px;
	font-size: 12px;
	line-height: 18px;
	
}

#column-content h3 {
	text-align: center;
	float: left;
    margin-left: -6px;
    margin-bottom: 60px;
    margin-top: -45px;
}

#column-content h2{
	font-size: 38px;
    font-weight: bolder;
}


#col-con {
	width: 960px;
	height: 498px;
	text-align: center;
	margin-left: 200px;
}
 #logo img {
 	margin-left: -62px;
 }

 #subs {
 	margin-right: 150px;
 }

.hr3 {
	width: 64px;
    margin-bottom: 35px;
    margin-top: 35px;
    margin-left: 3px;

	}

/* ---------------------------
	Form in hero section
   --------------------------- */

 .form-box {
  float: right;
  background: #fff;
  margin: 30px auto;
  margin-right: -144px;
  max-width: 500px;
  width: 358px;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23) -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

form#login-form {
overflow: hidden;
position: relative;
padding: 40px;
}

.head {
  color: #000;
  font-size: 20px;
  font-weight: bolder;
  padding: 50px 0;
  text-align: center;
  text-transform: ;
  background: #f5f5f5;
 
}

.head p {
	text-transform: uppercase;
    color: #ff9b51;
    display: inline-block;
    font-weight: bolder;
}


.footer {
  	color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding: 50px 0;
    text-align: center;
    text-transform: ;
    background: #ff9b51;
  
}


.form-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
 
.form-group .label-control {
  color: #888;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  pointer-events: none;
  height: 100%; 
}
.form-group .label-control::before,
.form-group .label-control::after{
  content: "";
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.form-group .label-control::before{
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}
 
.form-group .label-control::after {
  border-bottom: 2px solid #03A9F4;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
 
.form-control {
  border: none;
  border-radius: 0;
  margin-top: 20px;
  padding: 12px 0;
  width: 100%;
  font-size: 14px;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
 
.form-group .label-control .label-text{
   -webkit-transform: translate3d(0, 30px, 0) scale(1);
    -moz-transform: translate3d(0, 30px, 0) scale(1);
    transform: translate3d(0, 30px, 0) scale(1);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
}
.active .label-control::after{
   -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
.active .label-control .label-text {
    opacity: 1;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    color: #03A9F4 !important;
}
 
.input-field label:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #B9C1CA;
  transition: transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
}
 
 
input.btn[type="submit"] {
  background: #6498fe;
  border:none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin: 5px 0;
  outline: medium none;
  overflow: hidden;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out 0s;
  width: 100%;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.16), 0 1px 2px 0px rgba(0,0,0,0.23);
}
input.btn[type="submit"]:hover {
  background: #4b81eb;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.16), 0 2px 4px 0px rgba(0,0,0,0.23);
}
.text-p{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.text-p a{
  color: #175690;
}

/* ---------------------------
	Tab Squares
   --------------------------- */
.tab-one{

   	width: auto;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    margin: 0;
    outline: none;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
	width: 140px;
	height: 140px;
}

a.tab-one {

   	font-size: 39px;
    line-height: 135px;
    font-weight: bold;

}

a.tab-one:hover { 
    background-color: #ff9b51;
}

.tab-two{

   	width: auto;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    margin: 0;
    outline: none;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
	width: 140px;
	height: 140px;
}


a.tab-two {

   	font-size: 39px;
    line-height: 135px;
    font-weight: bold;

}

a.tab-two:hover { 
    background-color: #ff9b51;
}

.tab-three{

   	width: auto;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    margin: 0;
    outline: none;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
	width: 140px;
	height: 140px;
}

a.tab-three {

   	font-size: 39px;
    line-height: 135px;
    font-weight: bold;

}

a.tab-three:hover { 
    background-color: #ff9b51;
}

.btn-large-tab {
	padding: 22px 30px !important;
    font-size: 24px;
    font-weight: 200;
    margin: 104px 0px !important;
}

/* ---------------------------
	Sub - Lists
   --------------------------- */
.h-sub {
	margin-top: -90px;
}

.hr-sect {
  width: 64px;
  border-color: #ff8b38;
  margin-bottom: 35px;
  margin-top: 35px;
  float: left;
}
.sub-icons-1 {
    width: 447px;
    float: right;
}

.sub-icons-1 h4 {
    display: inline;
    margin-left: 30px;
}

.sub-icons-1 p {
    margin-left: 93px;
}

.sub-icons-2 {
    width: 447px;
    float: right;
}

.sub-icons-2 h4 {
    display: inline;
    margin-left: 30px;
}

.sub-icons-2 p {
    margin-left: 93px;
}

.fa-cloud-upload {
	color: #ff9b51;
}

.fa-cloud-download {
	color: #ff9b51;
}

.side-2 {
	margin-left: -106px;
	font-size: small;
}

.img-one img {
	box-shadow: -2px 4px 5px 6px #ccc;
	margin-left: -134px;
}

.img-two img {
	box-shadow: 3px 3px 5px 6px #ccc;
}

/* ---------------------------
	Pricing Cards
   --------------------------- */

  .card-box{

  float: right;
  background: ;
  margin: 30px auto;
  max-width: 500px;
  width: 270px;
  
}

.card-box-2{

  float: right;
  background: ;
  margin: 71px auto;
  max-width: 500px;
  width: 270px;
  
}

  .card-head {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 30px 0;
  text-align: center;
  text-transform: ;
  background: #333;
  margin-bottom: -16px;
  
}

.card-hr {
   padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.card-price {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 50px 0;
  text-align: center;
  text-transform: ;
  background: #333;
  
}

.card-price-text {
  color: #fff;
  font-size: 105px;
  font-weight: bold;
  display: inline;
  
  
}

.card-price-curr {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  display: inline-block;
  
}

.card-midd {
    color: #000;
    font-size: 20px;
    font-weight: normal;
    padding: 3px 0;
    text-align: center;
    text-transform: ;
    background: #ff9b51;
    margin-top: -113px;
  
}

.card-midd-2 {
  	color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding: 13px 0;
    text-align: center;
    text-transform: ;
    background: #ff9b51;
    margin-top: -110px;
}

.sub-text {
  	color: #000;
    font-size: 17px;
    font-weight: bolder;
    padding: 13px 0;
    text-align: center;
    text-transform: ;
    background: #FFF;
    margin-top: 0px;
}
/* ---------------------------
	What Our... - Speech Bubbles
   --------------------------- */

.speech {
	color: #000;
    font-size: small;
    font-weight: normal;
    padding: 25px 13px;
    text-align: center;
    text-transform: ;
    background: #f5f5f5;
    margin-top: -50px;
    text-align: left;
    font-style: italic;
    margin-right: 46px;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 10px;
	
	
}

.speech-corner {
	width: 0;
    left: 30px;
    margin-top: -24px;
    margin-left: 41px;
    border: 16px solid;
    border-color: #f5f5f5 transparent transparent #f5f5f5;
}

.speech-sub {
	margin-left: -47px;
    margin-top: -5px;
}

.speech-sub-1 {
	margin-left: -85px;
    margin-top: -5px;
}


.four img {
	margin-left: -223px;
    margin-top: 10px;
}

.four h4 {
	margin-top: -58px;
    margin-left: -60px;
    font-weight: bolder;
}
/* ---------------------------
	Font Awesome 
   --------------------------- */
.fa-lightbulb-o {
	color: #ff9b51;
}

.fa-keyboard-o {
	color: #ff9b51;
}

.fa-bolt {
	color:#ff9b51;
	border: 1px #ff9b51;
}

.fa-circle {
	color: #fff !important;
	border: 1px #ff9b51; 
}

.fa-circle-thin {
	color: #ff9b51;
	border: 1px #ff9b51; 
}



/* ---------------------------
	Secondary Call-to-action
   --------------------------- */

#secondary-cta {
	background: #fff;
	padding: 30px 0;
}

#secondary-cta h4 {
	font-weight: bolder;
    font-size: 24px;
    float: left;
    margin-left: -75px;
}

/* ---------------------------
	Social - Brand Bar 
   --------------------------- */


.soc {
	padding: 10px;
}

p.soc {
	color: #ccc;
	padding: 50px 0 0 0;
    text-decoration: none;
    font-style: normal !important;
    margin-left: -75px;
}

.soc-icons {
	display: inline;
    color: #ccc;
    float: right;
    margin-top: -102px;
    margin-right: -204px;
}

/* ---------------------------
	Custom Section
   --------------------------- */

#custom {
	background: url(../img/custom_bg.gif) ;
	padding: 100px 0;
}

#custom h4 {
	font-weight: 200;
	font-size: 24px;
	text-align: center;
	color: #fff;
	margin-top: -36px;

}

#custom p {
	text-align: center;
	color: #c7c7c6;
	padding: 10px 0 0 0;
	margin-bottom: 38px;
}

#custom-btn {
	text-align: center;
	margin-bottom: -49px;

}

.hr {
	width: 64px;
	margin-bottom: 35px;
	margin-top: 35px;
}

.hr2 {
	width: 64px;
	border-color: #ff8b38;
	margin-bottom: 35px;
	margin-top: 35px;
}

p.colo  {
	margin-bottom: 81px;
}

/* ---------------------------
	Contact Us
   --------------------------- */

.form-box-1{

    float: left;
    background: #fff;
    margin: 30px auto;
    margin-left: -139px;
    max-width: 500px;
    width: 520px;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23) -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.form-box-2{

    float: right;
    background: #fff;
    margin-top: 86px;
    margin-right: -122px;
    width: 392px;
    
}

.btn-large-msg {

	padding: 22px 30px !important;
    font-size: 24px;
    font-weight: 200;
    margin: 104px -75px !important;
}

.contact-p {
	text-align: center;
}

/* ---------------------------
	Footer
   --------------------------- */

footer {
	background: #444;
	color: #fff;
	padding: 50px 0;
}

footer #copyright {
	width: ;
	text-align: center;
}

.footer-icons{
	    text-align: center;
	    color: #ccc;
}
footer nav {
	width: 340px;
	float: right;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer nav a {
	margin: 0 0 0 15px;
}

footer a:hover {
	color: #00c0ff;
}


/* ---------------------------
	Navigation
   --------------------------- */

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

nav ul li {
	list-style: none;
	float: left;
}

header nav ul li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 20px;
	
}

header nav ul li a:hover {
	background: #222;
}

header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8) inset;
}
   

/* ---------------------------
	Buttons
   --------------------------- */

.btn {
	width: auto;
	/*background: #0090bf;*/
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	
	/* IE7 inline-block fix */
	zoom: 1;
	*display: inline;
	
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	
	/* Fancy box shadows */
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	
	/* CSS3 transitions */
	-webkit-transition: background-color 0.15s ease-in-out;
	   -moz-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out; 
}

.btn:hover {
	color: #fff;
	background-color: #0086b2;
}

.btn:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	color: #fff;
}

.btn-large {
	padding: 22px 30px;
	font-size: 24px;
	font-weight: 200;
}

.btn-secondary {
	font-size: 20px;
}

.btn-small {
	font-weight: bold;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn-secondary:hover {
	text-decoration: underline;
}

.btn-secondary:active {
	position: relative;
	top: 1px;
}

/* ---------------------------
	Button - Orange
   --------------------------- */

.btn2 {
	width: auto;
	background: #ff9b51;
	border: 2px solid #fff;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	
	/* IE7 inline-block fix */
	zoom: 1;
	*display: inline;
	
	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;
	
	/* Fancy box shadows */
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
	
	/* CSS3 transitions */
	-webkit-transition: background-color 0.15s ease-in-out;
	   -moz-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out; 
}

.btn:hover {
	color: #fff;
	background-color: #ff9b51;
}

.btn:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
	color: #fff;
}

.btn-large {
	padding: 22px 30px;
	font-size: 24px;
	font-weight: 200;
}

.btn-secondary {
	font-size: 20px;
}

.btn-small {
	font-weight: bold;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

.btn-secondary:hover {
	text-decoration: underline;
}

.btn-secondary:active {
	position: relative;
	top: 1px;
}



/* ---------------------------
	Global Styles
   --------------------------- */

input {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

input[type="text"], input[type=""] {
	position: relative;
	padding: 11px 10px;
	border: solid 1px #ccc;
	width: 220px;
	margin: 0 -5px 0 0;
}


.column {
	float: left;
	margin-right: 20px;
}

.one {
	width: 110px;
	float: left;
}

.three {
	width: 488px;
	float: left;
}

.three-1{
	width:40px;
	float: right;
}

.four {
	width: 300px;
}


.img-one{
	width: 472px;
	float: left;
	margin-left: 225px
}

.side {
	width: 424px;
	float: right;
}

.side-p {
	margin-top: 73px;
}

.img-two{
	width: 407px;
	float: right;
	margin-right: 150px
}

.side-2 {
	width: 424px;
	float: left;
	margin-left: 100px;
}

.last {
	margin-right: 0;
	width: 300px;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	zoom: 1; /* For IE6/7 (trigger hasLayout) */
}



/* ---------------------------
	Responsive Styles
   --------------------------- */


       @media screen and (max-width:1122px) { 

       		#hero-title {
       			margin-left: 0px;
       		}

       		#logo img {
       			margin-left: 0px;
       		}

       		.container {
       			width: 960px;
       		}

       		.form-box {
       			margin-right: 0px;
       		}

       		.soc-icons {
       			margin-right: -120px;
       		} 

    		.sub-icons-1 {
    	    width: 357px;
    		}

    		.sub-icons-2 {
    	    width: 357px;
    		}
    }

    	@media screen and (max-width:984px) { 

       		#hero-title {
       			margin-left: 55px;
       		}

       		#hero-title h1 {
       			font-size: 31px;
       			width:400px;
       		}

       		#logo img {
       			margin-left: 60px;
       		}

       		nav {
       			margin-right: 86px;
       		}

       		.container {
       			width: 960px;
       		}

       		.form-box {
       			width: 25%;
       			margin-right: 59px;
       		}

       		.soc-icons {
       			margin-right: -120px;
       		} 

    		.sub-icons-1 {
    	    width: 357px;
    		}

    		.sub-icons-2 {
    	    width: 357px;
    		}



    	@media screen and (max-width:928px) { 

       		#hero-title{
       			margin-left: 72px;
        		margin-top: -647px;
        	}

       		#hero-title h1 {
       			font-size: 18px;
        		width: 344px;
        		line-height: inherit;
       		}

       		#hero-title p {
        	width: 344px;
        	}	

       		#logo img {
       			margin-left: 60px;
       		}

       		nav {
       			margin-right: 194px;
       		}

       		.container {
       			width: 960px;
       		}

       		.form-box {
       			width: 25%;
       			margin-right: 210px;
       		}

       		.soc-icons {
       			margin-right: -120px;
       		} 

    		.sub-icons-1 {
    	    width: 357px;
    		}

    		.sub-icons-2 {
    	    width: 357px;
    		}

    	@media screen and (min-device-width: 481px) and (max-width:768px) {

    		nav {
       			margin-right: 193px;
        		font-size: 10px;
       		}

       		#logo img {
       			width: 35%;
    		    margin-left: 108px;
       		}
       		/* -------
    				Responsive Hero
       				-------------- */

       		#hero-image {
       			width: 20%;
       		}

       		#hero-title h1 {
       			
        		width: 180px;
       		}

       		#hero-title p {
       			font-size: 11px;
        		width: 180px;
       		}

       		.form-box {
    		    width: 18%;
    		    margin-right: 454px;
    		}

    		.head {
    			padding: 50px 1px;
    		}

    		/* -------
    				Responsive Social
       				-------------- */
       				#secondary-cta h4 {
    		    font-weight: bolder;
    		    font-size: 24px;
    		    float: left;
    		    margin-left: 135px;
    		    margin-top: -20PX;
    				}


       				p.soc {
    				    color: #ccc;
    				    /* padding: 50px 0 0 0; */
    				    text-decoration: none;
    				    font-style: normal !important;
    				    margin-left: 85px;
    				    font-size: 12px;
    				}


    				.soc-icons .fa-stack {
    					height: 0;
    				}

    				.soc-icons {
        				
    				    margin-top: -26px;
    				    padding-bottom: 106px;
    				    font-size: 10px;
    				    margin-right: 359px;

    				}

    				.soc  {
    					margin-top: -3px;
    				}
    				
    				/* -------
    				Tab section
       				-------------- */

       				#call-to-action-tab {
       					width: 100px;
       					margin-left: -254px;
        				margin-top: -136px;
       				}

    				.tab-one {
        
    				    background: #333;
    				    border: 2px solid #fff;
    				    color: #fff;
    				    cursor: pointer;
    				    display: inline-block;
    				    zoom: 1;
    				    margin: 0;
    				    outline: none;
    				    padding: 0px 0px;
    				    font-size: 20px !important;
    				    position: relative;
    				    text-decoration: none;
    				    height: 80px;
    				    width: 80px;
        
        				}

        				.tab-two{
        				background: #333;
    				    border: 2px solid #fff;
    				    color: #fff;
    				    cursor: pointer;
    				    display: inline-block;
    				    zoom: 1;
    				    margin: 0;
    				    outline: none;
    				    padding: 0px 0px;
    				    font-size: 20px !important;
    				    position: relative;
    				    text-decoration: none;
    				    height: 80px;
    				    width: 80px;
        				}

        				.tab-three{
        				background: #333;
    				    border: 2px solid #fff;
    				    color: #fff;
    				    cursor: pointer;
    				    display: inline-block;
    				    zoom: 1;
    				    margin: 0;
    				    outline: none;
    				    padding: 0px 0px;
    				    font-size: 20px !important;
    				    position: relative;
    				    text-decoration: none;
    				    height: 80px;
    				    width: 80px;
        				}

        				#column-content .three h3 {
        					margin-left: -288px;
    					    margin-bottom: 60px;
    					    margin-top: -177px;
    					    font-size: 14px;
    					    font-weight: bolder;
        				}

        				.column.three p {
        					margin-left: -278px;
        					margin-top: -126px;
        					font-size: 12px;
        					width: 300px;
        				}

        				.column.three-1 img {
        					margin-left: -675px;
    					    margin-top: 7px;
    					    width: 175px;
        				}

        				.btn-large-tab {
    					     padding: 5px 5px !important; 
    					    font-size: 14px; 
    					    font-weight: bold;
    					    margin: 104px 0px;
    					    margin-right: 14px;
    					    margin-top: 150px !important;
    					    margin-left: -201px !important;
    					    display: inline-block !important;
    					}

        				/* -------
    				Sub - 1
       				-------------- */
       				.img-one img { 
       						width:156px;
       						margin-left: -87px;

       				}

       				.sub-icons-1 h4 {
       					font-size: 14px;
       					margin-left: -142px;

       				}

       				.sub-icons-1 p {
       					font-size: 11px;
       					margin-left: -76px;
       					width: 300px;
        				margin-top: 10px;

       				}

       				.sub-icons-2 h4 {
       					font-size: 14px;
       					margin-left: -142px;

       				}

       				.sub-icons-2 p {
       					font-size: 11px;
       					margin-left: -76px;
       					width: 300px;
        				margin-top: 10px;

       				}

       				.fa-cloud-upload {
       				color: #ff9b51;
        			font-size: 23px;
        			margin-left: -128px;
        			margin-top: -6px;
    				}

    				.fa-cloud-download {
       				color: #ff9b51;
        			font-size: 23px;
        			margin-left: -128px;
        			margin-top: -5px;
    				}

    				.sub-icons-1 .fa-circle-thin {
    			    margin-left: -128px;
    			    font-size: 45px;
    			    color: #ff9b51;
    			    border: 1px #ff9b51;
    				}

    				.sub-icons-2 .fa-circle-thin {
    			    margin-left: -128px;
    			    font-size: 45px;
    			    color: #ff9b51;
    			    border: 1px #ff9b51;
    				}

       				/* -------
    				Sub - 2
       				-------------- */

       				.img-two img {
    				    width: 300px;
    				    margin-left: -78px;
    				 }

       				/* -------
    				Awesome section
       				-------------- */

       				#col-con {
       					width:250px;
       					margin-left: 100px;
       				}

       				#col-con h2{
       					font-size: 20px;
       				}

       				#col-con .fa-stack.fa-4x {
       					margin-top: -193px;
       					margin-top: -6px;
        				margin-left: -56px;
       				}


       				/* -------
    				Pricing
       				-------------- */

       				/* -------
    				Customers
       				-------------- */
       				.speech {
       					margin-top: 20px;
       				}
       				/* -------
    				Axure - Custom
       				-------------- */

       				#custom .container.clearfix {
       					width: 50%;
       				}

       				/* -------
    				Contact Us
       				-------------- */

       				.textarea.formcontrol {
       					margin-bottom: -131px;
    					    margin-left: 0px;
    					    display: inline;
    					    padding-top: 0px;
    					    float: left !important;
       				}

       				 #column-contact {
       					width: 300px;
    				    margin-left: 100px;
    				    padding-left: 31px;
    				}

    				#column-contact h2{
       					width: 300px;
    				    margin-left: 100px;
    				    padding-left: 31px;
    				}

    				footer #copyright {
        				margin-left: -373px;
        				text-align: none !important;
        				width: 10;
        			}

    	}

    	@media screen and (max-width:420px) {



	}
}